#mainPageTopHalf{
	height: 35vh;
	background-color: #95B8E1;
	border-bottom-left-radius: 11%;
	border-bottom-right-radius: 11%;
	color: white;
	position: fixed;
	width:100%;
	overflow: inherit;
	z-index:100;
}
#topHalfWhite{
	height: 38.2vh;
	background-color: white;
	z-index: 98;
	position: fixed;
	width: 100%;

}

#commandInputDIV{
	margin-left: auto;
	margin-right: auto;
	margin-top: 7.5vh;
	display:table;

}
#commandInput{
	border-radius: 10px/10px;
	background-color: #edeff0;
	width: 100%;
}

#welcomeBack{
	/* text-align: center; */
	margin-left: auto;
	margin-right: auto;
	display:table;
	margin-top: 10vh;
	max-height: inherit;
	/* padding-top: 15%; */
	font-size: 20px;

	/* box-sizing: border-box; */
}
#welcomeBackName{
	color: #455961;
	/* text-align: center; */
	/* margin: auto; */
}

#welcomeBackSub{
	color: #cfe7f7;
	margin: auto;
	display:table;
	/* margin: auto; */
	font-size: 12px;
	margin-top: 3vh;
}

/* If the screen is somehow smaller than 650px */
@media only screen and (max-height: 650px) {
  #welcomeBackSub{
		margin-top:0;
	}
	#welcomeBack{
		margin-top:0;
	}
	#commandInputDIV{
		margin-top: 0;
	}
}


#home .page__background{
	  background-color: white;
		color: white;
}

#listContainer{
		/* margin-top: 37vh; */
		border: none;
}

#itemList{
	color: white;
	bottom: 10vh;
	margin-top: 37vh;
	margin-bottom: 22vh;
}

.itemBox{
	background-color: pink;
	height: 8%;
	width: 90%;
	border-radius: 10px;
	margin-top: 1.5vh;
}
.storageContent{
	background-color: white;
	border-radius: 5px;
}
.itemBoxRight{
	margin-left: auto;
}
.itemBoxLeft{
	margin-right: auto;
}

#toast{
	width: 100vw;
	position: fixed;
	background-color: white;
	color: black;
	/* padding: 3vw; */
	bottom: 0;
	z-index: 99;
	/* left:7vw; */
	/* border-top-left-radius: 15px;
	border-top-right-radius: 15px; */
	height: 22vh;
	/* -webkit-transform: translateZ(0);
	transform: translateZ(0); */
}

#exitRemindersButton{
	background-color: #95B8E1;
	color: #fff;
	border-radius: 12px;
	box-shadow: none;
}


/* Tutorial screen */
#tutorialPage{
	background-color: rgba(0,0,0,0.9);
	border-color: pink;
}
#tutorialContent {
	text-align: left;
}
